section.menupos
  .container
    .title__box
      span.span__bg Menu
      h2.title__bg Food Full of treaty Love
    .menupos__description There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers.
    .menupos__iner
      .menupos__item.item
        .menupos__img-box
        .menupos__info
          .menupos__title-box
            h3.middle-title.menupos-title Vegie Muffen
            span.middle-title.menupos-span 16$
          p.menupos__text There are many things are needed to start the Fast Food Business.
          .rating__box
            .reting__box-add
              .add-line
              .add-column
            .reting__box-stars
              .rating(data-rating="4")
                .rating__star
                .rating__star
                .rating__star
                .rating__star
                .rating__star
      .menupos__item.item-2
          .menupos__img-box
          .menupos__info
            .menupos__title-box
              h3.middle-title.menupos-title Salads
              span.middle-title.menupos-span 12$
            p.menupos__text There are many things are needed to start the Fast Food Business.
            .rating__box
              .reting__box-add
                .add-line
                .add-column
              .reting__box-stars
                .rating(data-rating="5")
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star
      .menupos__item.item-3
        .menupos__img-box
        .menupos__info
          .menupos__title-box
            h3.middle-title.menupos-title Burger
            span.middle-title.menupos-span 10$
          p.menupos__text There are many things are needed to start the Fast Food Business.
          .rating__box
            .reting__box-add
              .add-line
              .add-column
            .reting__box-stars
              .rating(data-rating="3")
                .rating__star
                .rating__star
                .rating__star
                .rating__star
                .rating__star
      .menupos__item.item-4
        .menupos__img-box
        .menupos__info
          .menupos__title-box
            h3.middle-title.menupos-title Delmonico Steak dish
            span.middle-title.menupos-span 14$
          p.menupos__text There are many things are needed to start the Fast Food Business.
          .rating__box
            .reting__box-add
              .add-line
              .add-column
            .reting__box-stars
              .rating(data-rating="2")
                .rating__star
                .rating__star
                .rating__star
                .rating__star
                .rating__star
      .menupos__item.item-5
        .menupos__img-box
        .menupos__info
          .menupos__title-box
            h3.middle-title.menupos-title Egg Masala
            span.middle-title.menupos-span 9$
          p.menupos__text There are many things are needed to start the Fast Food Business.
          .rating__box
            .reting__box-add
              .add-line
              .add-column
            .reting__box-stars
              .rating(data-rating="4")
                .rating__star
                .rating__star
                .rating__star
                .rating__star
                .rating__star
      .menupos__item.item-6
        .menupos__img-box
        .menupos__info
          .menupos__title-box
            h3.middle-title.menupos-title Peach Melba dish
            span.middle-title.menupos-span 15$
          p.menupos__text There are many things are needed to start the Fast Food Business.
          .rating__box
            .reting__box-add
              .add-line
              .add-column
            .reting__box-stars
              .rating(data-rating="3")
                .rating__star
                .rating__star
                .rating__star
                .rating__star
                .rating__star
    .menupos__btn-box
      a.menupos__btn.description__btn-right Learn More