section.passion
  .container
    .title__box
      span.span__bg Features
      h2.title__bg Food with a New Passion
    .benefits
      .benefits__item
        .benefits__img-box
          img.benefits-img(src="assets/imgs/home.svg", alt="картинка")
        h3.benefits__title.middle-title Quality Food
        p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.
      .benefits__item
        .benefits__img-box.moto
          img.benefits-img(src="assets/imgs/moto.svg", alt="картинка")
        h3.benefits__title.middle-title Food Delivery
        p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.
      .benefits__item
        .benefits__img-box.sun
          img.benefits-img(src="assets/imgs/sun.svg", alt="картинка")
        h3.benefits__title.middle-title Super Taste
        p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.