extends laout/laout

//- include mixins/item

block main
  main.main
    //- Section description........
    include ./components/sec__description

    //- Section passion..........
    include ./components/sec__passion

    //- Section menu..........
    include ./components/sec__menupos


    //- +item("src='assets/imgs/1488399659_0_0_960_960_600x0_80_0_1_e38b72053fffa5d3d7e82d2fe116f0b3.jpeg","сайт хороший <b>нашyyyy</b>")





















