extends laout/laout

//- include mixins/item

block main
  main
    //- Section description........
    section.description
      .container
        .description__iner
          .description__iner-left
            h1.description-title  Making time a good time by making food the good food.
            p.description-subtitle There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment,
            .description-box__btn
              a.description__btn-left Order Now
              a.description__btn-right Food Details
          .description__iner-right
            img.description__img(src="assets/imgs/BG-h1.png", alt="")

    //- Section passion..........
    section.passion
      .container
        .title__box
          span.span__bg Features
          h2.title__bg Food with a New Passion
        .benefits
          .benefits__item
            .benefits__img-box
              img.benefits-img(src="assets/imgs/home.svg", alt="картинка")
            h3.benefits__title.middle-title Quality Food
            p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.
          .benefits__item
            .benefits__img-box.moto
              img.benefits-img(src="assets/imgs/moto.svg", alt="картинка")
            h3.benefits__title.middle-title Food Delivery
            p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.
          .benefits__item
            .benefits__img-box.sun
              img.benefits-img(src="assets/imgs/sun.svg", alt="картинка")
            h3.benefits__title.middle-title Super Taste
            p.benefits__text It can be a very secure path to earn good money and make you very successful creative entrepreneur.

    //- Section menu..........
    section.menupos
      .container
        .title__box
          span.span__bg Menu
          h2.title__bg Food Full of treaty Love
        .menupos__description There are many things are needed to start the Fast Food Business. You need not only Just Food Stalls with Persons but also specialized equipment, Skills to manage Customers.
        .menupos__iner
          .menupos__item
            .menupos__img-box
            .menupos__info
              .menupos__title-box
                h3.middle-title.menupos-title Vegie Muffen
                span.middle-title.menupos-span 16$
              p.menupos__text There are many things are needed to start the Fast Food Business.
              .rating__box
                .reting__box-add
                  .add-line
                  .add-column
                .reting__box-stars
                  .rating(data-rating="2")
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star
                .rating(data-rating="4")
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star
                  .rating__star



















    //- +item("src='assets/imgs/1488399659_0_0_960_960_600x0_80_0_1_e38b72053fffa5d3d7e82d2fe116f0b3.jpeg","сайт хороший <b>нашyyyy</b>")





















