@import "../main/vars";
// HEADER ..........................
.header {
    padding-top: 30px;

    &__iner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-left {
        display: flex;
        align-items: center;
        .header__logo {
          margin-right: 35px;
          @media (max-width:788px) {
            display:none;
          }
        }
        .burger {
          display: none;
          background-color: transparent;
          border: none;
          padding: 10px 1px;
          cursor: pointer;
          @media (max-width:788px) {
            display:block;
           }
        }
        .burger-item {
            display: block;
            position: relative;
            width: 30px;
            height:3px ;
            background-color:$primerycolor-footer_bg;
        }
        .burger-item::before,
        .burger-item::after {
            content: " ";
            position: absolute;
            left: 0;
            width: 30px;
            height:3px ;
            background-color:$primerycolor-footer_bg;
        }
        .burger-item::before {
            top: -8px;
        }
        .burger-item::after {
            bottom: -8px;
        }
        .menu-list {
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0;
          list-style-type: none;
          @media (max-width:788px) {
            display:none;
          }
          .menu-item {
            margin-right: 41px;
            @media (max-width:991px) {
              margin-right: 31px;
            }
            .menu-link {
              text-decoration: none;
              line-height: 19px;
              color: $primerycolor-black;
              opacity: 0.6;
              transition: all 0.3s;
              &:hover {
              color:$primerycolor-orange;
              opacity: 0.8;
              }
            }
          }
        }
      }
      &-right {
        .header__btn,
        .btn {
          display: inline-block;
          line-height: 19px;
          color:$primerycolor-white;
          padding: 13px 30px;
          background: $primerycolor-orange;
          border-radius: 5px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background: $primery-orange_hover;
          }
          @media (max-width:788px) {
            padding: 12px 20px;
          }
          @media (max-width:430px) {
            font-size: 15px;
            padding: 10px 17px;
          }
        }
      }
    }
  }